<div class="row">
  <div class="col-md-12">
    <lsq-add-new-link
      [url]="(input$ | async).url"
      [error]="(input$ | async).validationError"
      (addLink)="onAddLink($event)"
    >
    </lsq-add-new-link>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <lsq-links-list
      #el
      [filter]="(filter$ | async)"
      [links]="(links$ | async)"
      (removeLink)="onRemoveLink($event)"
      [eventDebounce]="[
        {event: el.filterLinks, handler: onFilterLinks,  dueTime: 500}
      ]"
    >
    </lsq-links-list>
  </div>
</div>
