<lsq-links-list-filter
  (changed)="onFilterChanged($event)"
  [filter]="filter">
</lsq-links-list-filter>

<div class="table table-striped">
<table class="table">
  <tr *ngFor="let link of links">
    <td>
      <div [ngSwitch]="link.status">
        <span *ngSwitchCase="'saving'" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        <span *ngSwitchCase="'removing'" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        <span *ngSwitchCase="'unsaved'" class="glyphicon glyphicon-cloud-upload"></span>
        <span *ngSwitchCase="'saved'" class="glyphicon glyphicon-cloud"></span>
        <span *ngSwitchCase="'error'" class="glyphicon glyphicon-alert has-error"></span>
      </div>
    </td>
    <td>
      <a [href]="link.shortenUrl" traget="blank"> {{ link.shortenUrl }} </a>
    </td>
    <td>
      <a [href]="link.url" target="blank"> {{ link.url }} </a>
    </td>
    <td (click)="onLinkRemove(link)">
      <span class="glyphicon glyphicon-remove"></span>
    </td>
  </tr>
</table>
</div>

